<section class="about__achievements">
    <div class="container about__achievements-container">
        <div class="about__achievements-left">
            <img src="./../../assets/about achievements.svg" alt="">
        </div>
        <div class="about__achievements-right">
            <h1>Acheivements</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sed impedit vitae quibusdam laboriosam, quod accusamus expedita possimus voluptatum nobis amet, fuga, iste unde facere fugit numquam sint beatae quidem.
            </p>
            <div class="achievements__cards">
                <article class="achievement__card" *ngFor="let achievement of achievements">
                    <span class="achievement__icon" [ngStyle]="{ background: achievement.background }">
                        <i [class]="achievement.icon"></i>
                    </span>
                    <h3>{{ achievement.count }}+</h3>
                    <p>{{ achievement.type }}</p>
                </article>
            </div>
        </div>
    </div>
</section>