<!-- <section class="container testimonials__container mySwiper">
    <h2>Students Testimonials</h2>
    <div class="swiper-wrapper">
        <app-person *ngFor="let person of persons" [person]="person"></app-person>
    </div>
    <div class="swiper-pagination"></div>
</section> -->

<swiper [config]="config" [slidesPerView]="2" [spaceBetween]="30" [pagination]="{ clickable: true}" class="container testimonials__container mySwiper">
    <button class="custom_next">Custom Next Btn</button>
    <button class="custom_prev">Custom Next Btn</button>
    <ng-template swiperSlide *ngFor="let person of persons">
        <app-person [person]="person"></app-person>
    </ng-template>
</swiper>