.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
}

.main-text{
	text-align: center;
}
.main-text h2{
	margin-bottom: 10px;
}
.main-text h4{
	color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
}

section{
	padding: 160px 16% 90px;
}

.courses {
    margin-top: 1rem;
}