<header>
    <div class="container header__container">
      <div class="header__left">
        <h1>Grow you project for get lot of money in save your life</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae alias enim dolore quasi quibusdam expedita quam repellendus iusto amet maxime quod quis non culpa error porro saepe numquam, atque eaque. 
        </p>
        <a href="courses.html" class="btn btn-primary">Get Started</a>
      </div>
      <div class="header__right">
        <div class="header__right-image">
          <img src="./../../assets/header.svg" alt="header img" />
        </div>
      </div>
    </div>
</header>